body {

    background-image: url('cloudspink.png');
    background-position: center;
    background-color: royalblue;
    margin: 0;
    background-image: url(cloudspink.png);
    font-family: Comic Sans MS;
         overflow-x: hidden; /* Disable horizontal scroll */
}


h1{
    font-family: Comic Sans;
    color: blue;
    	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;

    background-image: linear-gradient(to right, cyan , magenta);
    font-size: 70px;
    padding: 5px;
    width: fit-content;
    box-shadow: 5px 10px 5px darkblue;
}

.imageBounce{
      animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.musicBounce{
      animation-name: musicbounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
    
    
}

.imageshake{
      animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

h2{
    color:black;
    background-color:aqua;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3{
    font-size: 35px;
}

.mainstuff{
    width: 65%;
    background-color: skyblue;
    border: 5px dashed blueviolet;
    margin-bottom: 10px;
    
}

.autobiography{
        background-color: pink;
    border: 5px blueviolet;
    width: 90%;
    padding: 15px;
    margin: 15px;
}

.leftsidebar{
      height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: -1; /* Stay on top */
  left: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    width: 200px;
}

.rightsidebar{
      
  position: absolute;
      z-index: -1; /* Stay on top */
  right: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    width: 200px;
}

.mainstuffright{
    z-index: 1;
    position:;
    top: 0;
    right: 0;
}

.topright{
    z-index: 2;
    position: fixed;
        top: 0;
    right: 0;
    width: 220px;
    height: fit-content;
    color: red;
    background-color: black;
    padding: 5px;
    margin: 10px;
    size: 40px;
}

.topright:hover {
filter: invert(1);
    opacity: 50%;

}

.leftsidebar a:hover {
filter: invert(1);

}

.leftsidebar a:active {
opacity: 0%;
}

@keyframes bounce {
   0% { -webkit-transform: scaleY(0.9) scaleX(1.1)}
   50% { -webkit-transform: scaleY(1.1) scaleX(0.9) }
   100% { -webkit-transform: scaleY(0.9) scaleX(1.1) }  
}

@keyframes musicbounce {
   0% { -webkit-transform: scaleY(0.98) scaleX(1.02)}
   50% { -webkit-transform: scaleY(1.02) scaleX(0.98) }
   100% { -webkit-transform: scaleY(0.98) scaleX(1.02) }  
}

@keyframes shake {
   0% { -webkit-transform: rotate(-4deg)}
   50% { -webkit-transform: rotate(4deg)}
   100% { -webkit-transform: rotate(-4deg)}
}

@keyframes moveleft{
  50%  {transform: ;}
}
